/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.page {
  min-height: 100%;
  width: max-content;
}

/* Landing pages */
.connect-page,
.landing-page {
  background: #181212;
  text-align: center;
}

.welcome-mssg {
  color: #80d0c7;
  font-size: 64px;
  margin-bottom: 0px;
}

.welcome-mssg.name {
  margin-top: 10px;
}

.landing-btn {
  height: 96px;
  width: 422px;
  font-size: 36px;
  border-radius: 50px;
  color: #fff;
  background: transparent;
  border: 1px solid #80d0c7;
  box-sizing: border-box;
  text-align: left;
  padding-left: 52px;
}

.landing-btn:active {
  background: rgba(111, 111, 111, 0.9);
}

.connect-btn-holder {
  margin-top: 300px;
  text-align: left;
  margin-left: 78px;
  padding-bottom: 100px;
}

.landing-btn-holder {
  margin-top: 200px;
  text-align: left;
  margin-left: 78px;
  display: flex;
  flex-direction: column;
  gap: 78px;
  padding-bottom: 100px;
}

.landing-btn.explore {
  width: 333px;
}

.landing-btn.list {
  width: 422px;
}
